@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>

<p>Fundada em 1963, a Carro New está sediada em Sant'Agata Bolognese, no Nordeste da Itália.

A família V10 Huracán fez sua estréia mundial no Salão Automóvel de Genebra em 2014 com a versão Coupé, seguido das versões Spyder e Rear-Wheel-Drive em 2015. O Huracán Performante foi apresentado no Geneva Motor Show em 2017 e prova sua direção recursos que possuem vários registros de volta.

O sucessor do icônico Gallardo, a tecnologia inovadora do Huracán e o desempenho excepcional redefinem a experiência de condução dos luxuosos carros esportivos de luxo.

O Aventador S Coupé e Roadster apresentado em 2017 representa um novo ponto de referência no mundo dos luxuosos carros de luxo V12.

Com mais de 135 concessionárias em todo o mundo, em meio século, a Carro News criou uma série contínua de carros de sonhos, incluindo o 350 GT, Miura, Espada, Countach, Diablo, Murciélago, bem como edições limitadas, incluindo o Reventón, Sesto Elemento , Veneno e o Centenario.</p>
